//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//colors
$background-ieee-color: #343540;
$background-color: #E5E5E5;
$background-white-color: 'white';

body {
    margin:0px auto;
    padding:0px;
    text-align:center;
    width:100%;
    background-color:$background-color;
}

#home {
    background: linear-gradient(0deg, rgba(30, 30, 30, 0.3), rgba(40, 40, 40, 0.3)), url(../../resources/images/site.png);
    background-size: cover;
    height: 120%;
    font-family: $oswald;
}

#header {
    display: flex;
    justify-content: space-between;

    li {
        display:inline-block;
        margin-right:25px;
        cursor:pointer;
    }

    #navigation {
        padding-top: 30px;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
    }

    #logo {
        width: 250px;
        height: 75px;
        padding-left: 4.375em;
        padding-top: 1.688em;
    }

    #get_tickets {
        width: 135px;
        height: 45px;
        margin-right: 4.375em;
        margin-top: 1.750em;
        background-color: #A67C52;
        border: none;
    
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
}

#banner {
    width: 1440px;
    height: 700px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #title {
        font-weight: bold;
        font-size: 72px;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    font-family: $oswald;

    #left{
        display: block;
        width: 560px;
        height: 397.5px;
        text-align: left;

        h1 { 
            font-size: 36px;
            font-weight: 700;
        }

        p {
            margin-top: 3em;
            font-family: $open-sans;
            font-size: 18px;
        }

        button {
            width: 135px;
            height: 49.5px;
            margin-top: 2em;
            background-color: #F15A24;
            border: none;

            font-size: 16px;
            text-transform: uppercase;

            color: white;
            float: left;
        }
    }

    #right{
        width: 700px;
        height: 195px;
        padding-left: 3.5em;

        #location {
            display: flex;
            text-align: left;
            line-height: 17px;
        }

        p{
            font-family: $open-sans;
            font-size: 18px;
        }

        h1 { 
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase; 
        }

        i{
            width: 56px;
            height: 64px;
            font-size: 64px;
            padding-top: 10px;
            color: #F15A24;
        }

        #location_descr{
            padding-left: 2.5em;
            margin-bottom: 2em;
        }

        #date{
            display: flex;
            text-align: left;
            line-height: 17px;
        }

        #date_descr{
            padding-left: 2.5em;
            margin-bottom: 2em;


        }
    }
}

#get_your_tickets {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: white;
    background: #343540;

    font-family: $oswald;

    div {
        width: 737px;
    }

    h1{
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
    }

    p{
        font-size: 18px;
        font-family: $open-sans;
    }

    button{
        font-size: 18px;
    
        background-color: #A67C52;
        border: none;
        text-transform: uppercase;
    
        width: 135px;
        height: 45px;
    
        color: #FFFFFF;
        
    }
}
