#banner {
    background: linear-gradient(0deg, rgba(30, 30, 30, 0.3), rgba(40, 40, 40, 0.3)), url(../../resources/images/site.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    .content {
        height: 100vh;
        padding-top: 5.5em;
        color: white;
        h1 {
            font-size: 5em;
        }
    }
    #timer {
        text-align: center;
        text-transform: uppercase;
        .col * {
            margin-bottom: 0;
            font-family: $oswald !important;
        }
        .time-number {
            font-size: 3em;
            font-weight: 500;
        }
        .time-text {
            font-size: 1.5em;
        }
    }
}

#about {
    i {
        font-size: 4em;
        color: $highlight-color;
        text-align: center;
        min-width: 1em;
    }
    .icon-content {
        margin-left: 2em;
        p {
            margin: 0;
        }
    }
}

#program {
    .nav-item {
        &:not(:first-child) {
            margin-left: 1em;
        }
        a {
            font-family: $oswald;
            text-transform: uppercase;
            background-color: $secondary-color;
            color: white;
            padding: 0.6em 3.1em;
            border-radius: 0;
            &.active {
                background-color: $primary-color;
            }
        }
    }
    .program-row {
        .info {
            background-color: rgba($color: $primary-color, $alpha: 0.8);
            color: white;
            flex: 1;
            min-width: 8.3em;
            max-width: 8.3em;
            h6 {
                font-size: 0.9em;
                font-weight: 400;
            }
        }
        i {
            color: $highlight-color;
            margin-right: 1em;
            width: 1em;
            text-align: center;
        }
        .description {
            padding: 0.5em 1em;
            width: 100%;
            border-bottom: 2px dashed #e5e5e5;
            p,
            span {
                font-size: 0.9em;
            }
        }
        &:nth-child(odd) {
            .info {
                background-color: $primary-color;
            }
        }
        &:last-child {
            .description {
                border-bottom: none;
            }
        }
    }
    .tab-pane.active {
        animation: slideInLeft 0.7s ease-out;
    }
}

#workshops {
    div[class^='col-'] {
        color: black;
        width: 100%;
        .content {
            background-color: white;
            padding: 2em;
            text-align: center;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: all ease-out 0.3s;
            height: 100%;
            i {
                color: $highlight-color;
                margin-right: 1em;
                width: 1em;
            }
            span {
                font-size: 0.9em;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.03);
            }
        }
    }
}

@media (max-width: 991.98px) {
    #banner {
        .content {
            h1 {
                font-size: 2em;
            }
        }
        #timer {
            .time-number {
                font-size: 2em;
            }
            .time-text {
                font-size: 1em;
            }
        }
    }
    #program {
        #pills-tab {
            display: block;
        }
        .nav-item {
            &:not(:first-child) {
                margin-left: 0;
                margin-top: 1em;
            }
        }
    }
}

@media (max-width: 767.98px) {
    #about {
        div[class^='col-']:not(:first-child) {
            margin-top: 4em;
        }
    }
    #divider {
        div[class^='col-']:not(:first-child) {
            margin-top: 2em;
        }
        button {
            float: left !important;
        }
    }
}